<div>
	<table>
		<thead>
			<tr scope='row'>
				<th scope='col'>Intitulé</th>
				<th scope='col'>Formation associée</th>
				<th scope='col'>Site</th>
				<th scope='col'>Formateur</th>
				<th scope='col'>Date de début
				</th>
				<th scope='col'>Date de fin
				</th>
				<th scope='col'>Support formateur</th>
				<th scope='col'>Itinéraire pédagogique</th>
				<th scope='col'>ECF</th>
			</tr>
		</thead>
		<tbody>

			{% for module in modules %}
				<tr scope="row">
					<td scope='col'>{{module.intitule}}</td>
					<td scope='col'>{{module.formation.intitule}}</td>
					<td scope='col'>{{module.site}}</td>
					<td scope='col'>{{module.user.fullName ? module.user.fullName : 'Aucun formateur'}}</td>
					<td scope='col'>{{module.dateDebut | date('d/m/Y')}}</td>
					<td scope='col'>{{module.dateFin | date('d/m/Y')}}</td>

					{% if documents is empty %}
						<td>

							Table "documents" vide
						</td>

						<td>

							Table "documents" vide
						</td>

						<td>

							Table "documents" vide
						</td>

						<td>
							<a href="{{ path('app.formateur.document.upload', {id: user.id}) }}" class="btncreat">Envoyer un fichier</a>
						</td>
					{% else %}
						{% for document in documents %}
							{% if document.categorie != 'modele'  %}

								<td>
									{% if document.categorie == 'support_formateur' and document.module.id == module.id %}
										<a download href="{{vich_uploader_asset(document)}}">Document à télécharger</a>

									{% else %}
										document absent
									{% endif %}


								</td>
								<td>
									{% if document.categorie == 'itin_pedago' and document.module.id == module.id %}
										<a download href="{{vich_uploader_asset(document)}}">Document à télécharger</a>

									{% else %}
										document absent
									{% endif %}
								</td>

								<td>
									{% if document.categorie == 'ecf' and document.module.id == module.id %}
										<a download href="{{vich_uploader_asset(document)}}">Document à télécharger</a>

									{% else %}
										document absent
									{% endif %}
								</td>


								<td>

									<a href="{{ path('admin.module.edit', {id: module.id}) }}" class="btnmodif">Modifier</a>
								</td>
								<td>
									<form action="{{ path('admin.module.delete', {id: module.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce module')">
										<input type="hidden" name="token" value="{{ csrf_token('delete'~ module.id) }}">
										<button type="submit" class="btndelete">Supprimer</button>
									</form>

								</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
