{% extends 'base.html.twig' %}

{% block title %}Administration CCI
	{{parent()}}
{% endblock %}

{% block body %}
	<h1>Administration</h1>

	<h2>Sessions</h2>

	<div class="tableview">
		<div class="tableheader">
			<h3>Formations</h3>

			<a href="{{path('admin.formations.create')}}" class="btncreat">Ajouter une formation</a>
		</div>
		{% include "Admin/Formations/index.html.twig" %}
	</div>

	<div class="tableview">
		<div class="tableheader">
			<h3>Modules</h3>
			<a href="{{path('admin.module.create')}}" class="btncreat">Ajouter un nouveau module</a>
		</div>

		{% include "Admin/Modules/index.html.twig" %}
	</div>

	<h2>Modèles de documents</h2>
	<div class="tableview">
		<div class="tableheader">
			<a href="{{path('admin.documents.upload')}}" class="btncreat">Ajouter un modèle</a>
		</div>
		{% include "Admin/Documents/index.html.twig" %}
	</div>
	<h2>
		Formateurs
	</h2>
	<div class="tableview">
		<div class="tableheader">
			<a href="{{path('admin.formateur.create')}}" class="btncreat">
				Ajouter un nouvel utilisateur</a>
		</div>

		{% include "Admin/Formateurs/index.html.twig" %}
	</div>

	<h2>
		Sites
	</h2>
	<div class="tableview">
		<div class="tableheader">
			<a href="{{path('admin.site.create')}}" class="btncreat">
				Ajouter un nouveau site</a>
		</div>

		{% include "Admin/Sites/index.html.twig" %}
	</div>

{% endblock %}
