{% extends "base.html.twig" %}

{% block title %}
	Profil formateur
{% endblock %}

{% block body %}
	<h1>Gestion de votre profil</h1>
	<div class="profiletitle">
		{{user.fullName}}
	</div>
	<div id="lienProfilUser">
		<h2>Mes informations</h2>
		<a href="{{ path('app.formateur.profile.edit', {id: user.id}) }}" class="btnmodif">Mettre à jour mes informations</a>
	</div>
	<h2>Mes modules</h2>
	<div class="tableview">
		<table>
			<thead>
				<tr scope='row'>


					<th scope='col'>Intitulé</th>
					<th scope='col'>Formation associée</th>
					<th scope='col'>Site</th>
					<th scope='col'>Date de début
					</th>
					<th scope='col'>Date de fin
					</th>
					<th scope='col'>Support formateur</th>
					<th scope='col'>Itinéraire pédagogique</th>
					<th scope='col'>ECF</th>
				</tr>
			</thead>
			<tbody>
				{% for module in modules %}
					<tr>
						{% if module.user.Fullname == user.Fullname %}

							<td>{{module.intitule}}</td>
							<td>{{module.formation.intitule}}</td>
							<td>{{module.site}}</td>
							<td>{{module.dateDebut | date('d/m/Y')}}</td>
							<td>{{module.dateFin | date('d/m/Y')}}</td>


							{% for document in documents %}
								<td>
									{% if document.titre == 'support_formateur' and document.module.intitule == module.intitule %}
										Document envoyé
										<form method="POST" enctype="multipart/form-data">
											{{document.file}}
											<button type="submit">Renvoyer un document</button>
										</form>
									{% else %}
										<form method="POST" enctype="multipart/form-data">
											{{document.file}}
											<button type="submit">Envoyer</button>
										</form>
									{% endif %}
								</td>


								<td>
									{% if document.titre == 'itineraire_pedagogique' and document.module.intitule == module.intitule %}
										<p>Document envoyé</p>
										<form method="POST" enctype="multipart/form-data">
											{{document.file}}
											<button type="submit">Renvoyer un document</button>
										</form>
									{% else %}
										<form method="POST" enctype="multipart/form-data">
											{{document.file}}
											<button type="submit">Envoyer</button>
										</form>
									{% endif %}
								</td>


								<td>
									{% if document.titre == 'ecf'and document.module.intitule == module.intitule %}
										<p>Document envoyé</p>
										<form method="POST" enctype="multipart/form-data">
											{{document.file}}
											<button type="submit">Renvoyer un document</button>
										</form>
									{% else %}
										<form method="POST" enctype="multipart/form-data">
											{{document.file}}
											<button type="submit">Envoyer</button>
										</form>
									</td>
								{% endif %}

							{% endfor %}

						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
