{% extends "base.html.twig" %}

{% block title %}
	Profil formateur
{% endblock %}

{% block body %}
	<h1>Gestion de votre profil</h1>
	<div class="profiletitle">
		{{user.fullName}}
	</div>
	<div id="lienProfilUser">
		<h2>Mes informations</h2>
		<a href="{{ path('app.formateur.profile.edit', {id: user.id}) }}" class="btnmodif">Mettre à jour mes informations</a>
	</div>

	<h2>Modèles de documents</h2>
	<div class="tableview">
		<table>

			<tbody>
				{% if documents is empty %}

					Aucun modèle disponible

				{% else %}
					{% for document in documents %}

						<tr scope='row'>
							{% if document.categorie == 'modele' %}

								<a download href="{{vich_uploader_asset(document)}}">{{document.titre}}</a>

								{% else %}

							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}


			</tbody>
		</table>
	</div>
	<h2>Mes modules</h2>
	<div class="tableview">
		<table>
			<thead>
				<tr scope='row'>


					<th scope='col'>Intitulé</th>
					<th scope='col'>Formation associée</th>
					<th scope='col'>Site</th>
					<th scope='col'>Date de début
					</th>
					<th scope='col'>Date de fin
					</th>
					<th scope='col'>Support formateur</th>

					<th scope='col'>Itinéraire pédagogique</th>

					<th scope='col'>ECF</th>

				</tr>
			</thead>
			<tbody>
				{% for module in modules %}
					<tr>
						{% if module.user.Fullname == user.Fullname %}

							<td>{{module.intitule}}</td>
							<td>{{module.formation.intitule}}</td>
							<td>{{module.site}}</td>
							<td>{{module.dateDebut | date('d/m/Y')}}</td>
							<td>{{module.dateFin | date('d/m/Y')}}</td>

							{% if documents is empty %}
								<td>

									Table "documents" vide
								</td>
								<td></td>
								<td>

									Table "documents" vide
								</td>
								<td></td>
								<td>

									Table "documents" vide
								</td>
								<td></td>
								<td>
									<a href="{{ path('app.formateur.document.upload', {id: user.id}) }}" class="btncreat">Envoyer un fichier</a>
								</td>
							{% else %}
								{% for document in documents %}
									{% if document.module.id is defined and document.module.id == module.id  %}

										<td>
											{% if document.categorie == 'support_formateur' %}
												Document envoyé
												<a href="{{ path('app.formateur.document.edit', {id: document.id}) }}" class="btnmodif">Modifier</a>
											{% else %}
												Document non trouvé
											{% endif %}
										</td>


										<td>

											{% if document.categorie == 'itin_pedago'  %}
												Document envoyé
												<a href="{{ path('app.formateur.document.edit', {id: document.id}) }}" class="btnmodif">Modifier</a>
											{% else %}
												Document absent
											{% endif %}
										</td>


										<td>
											{% if document.categorie == 'ecf' %}
												Document envoyé
												<a href="{{ path('app.formateur.document.edit', {id: document.id}) }}" class="btnmodif">Modifier</a>
											{% else %}
												Document non trouvé
											{% endif %}
										</td>


										<td>
											<a href="{{ path('app.formateur.document.upload', {id: user.id}) }}" class="btncreat">Envoyer un fichier</a>
										</td>
									{% endif %}
								{% endfor %}
							{% endif %}


						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
